@tailwind base;
@tailwind components;
@tailwind utilities;

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: #18181b;
  }
}

code {
  border-radius: 1rem;
  padding: 1.25rem;
}
pre {
  border-radius: 1rem;
  border: 1px solid #f4f4f5;
}
/* @media (prefers-color-scheme: dark) {
  pre {
    border: 1px solid #27272a;
  }
} */
